<div class="repo p-2 text-center">
  <img
    class="only-light w-100"
    alt="{{ include.username }}"
    src="https://raw.githubusercontent.com/bonassifabio/bonassifabio.github.io/refs/heads/stats/trophy-light.svg"
  >
  <img
    class="only-dark w-100"
    alt="{{ include.username }}"
    src="https://raw.githubusercontent.com/bonassifabio/bonassifabio.github.io/refs/heads/stats/trophy-dark.svg"
  >
</div>
