<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="only-light w-100"
      alt="{{ include.username }}"
      src="https://raw.githubusercontent.com/bonassifabio/bonassifabio.github.io/refs/heads/stats/user-stats.svg"
    >
    <img
      class="only-dark w-100"
      alt="{{ include.username }}"
      src="https://raw.githubusercontent.com/bonassifabio/bonassifabio.github.io/refs/heads/stats/user-stats-dark.svg"
    >
  </a>
</div>
